.container{
  width:100%;
  height:500px;
  background:#ddffcc;
  position:relative;
  background:url("img/1.jpg") center/cover  no-repeat;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}
.btn-left{
  position:absolute;
  top:50%;
  left:-3px;
  background:#fff;
  cursor:pointer;
  padding:10px 12px;
  margin:6px;
  transform:translateY(calc(-50%));
}
.btn-right{
  position:absolute;
  top:50%;
  right:-3px;
  background:#fff;
  cursor:pointer;
  padding:10px 12px;
  margin:6px;
  transform:translateY(calc(-50%));
}
